/*
! DA CANCELLARE TUTTO 
*/

.t-center {
  text-align: center;
}

.container-md {
  min-height: 300px;
}


.color1 {
  background-color: #BA4B63;
}

.color2 {
  background-color: #1EA4B6;
}

.color3 {
  background-color: #140F0F;
}

.color4 {
  background-color: #1C83C1;
}

.color5 {
  background-color: #0E38B5;
}

.color6 {
  background-color: #CCB2A3;
}

.my-container-100 {
  color: #fff;
  background-color: #1ABC9C;
}

.container-fluid.color {
  min-height: 80px;
  background-color: #3A546D;
}

/*
! /DA CANCELLARE TUTTO 
*/

/********************  HEADER  ********************/

header {
  color: #fff;
  height: 90px;
  background-color: #2C3E50;
}


/********************  NAVBAR  ********************/


/********************  JUMBOTRON  ********************/
.jumbotron {
  height: 490px;
  background-color: #1ABC9C;
}


/********************  MAIN  ********************/

main .container-md .row .test {
  min-height: 150px;
}

main .container-fluid .row.test {
  min-height: 150px;
}

[class^=col-] {
  min-height: 250px;
}

main .container .row .col {
  min-height: 150px;
}

main .container .row .col .box-contatti {
  width: 100%;
  min-height: 150px;
  background-color: red;
}


/********************  FOOTER  ********************/

footer {
  color: #fff;
}

footer h4 {
  font-weight: 600;
  margin-bottom: 1.25rem;
}

footer .footer_top {
  height: 230px;
  background-color: #3A546D;
}

.footer_top i {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  margin: 0 10px;
}

footer .footer_bottom {
  font-size: .8rem;
  height: 110px;
  background-color: #2C3E50;
}

#colored_green {
  font-weight: 600;
  color: #308171;
}